/* selection colours */
::selection {
	background: #00ccff; /* Safari */
	color: #f0f0f0;
	}
::-moz-selection {
	background: #00ccff; /* Firefox */
	color: #f0f0f0;
}


* {
    margin: 0;
    padding: 0;
}

body {
    -webkit-text-size-adjust: none;
    background-color: #f0f0f0;
}

/********/
/* head */
/********/

#head_bar {
    background-color: #00ccff;
	display: inline-block;
    width: 100%;
	font-family: "Merriweather", Times, "Times New Roman", serif;
    font-weight: 300;
    text-align: center;

    margin-bottom: 3em;
}

#head_wrapper {

}

@media only screen and (min-width: 830px) {
    #head_wrapper {
        margin: 0 auto;
        width: 800px;
    }
}



#head_text {
	color: #f0f0f0;
    font-size: 1.5em;
    text-transform: lowercase;
    margin-top: .4em;
    margin-bottom: .4em;
}


@media only screen and (min-width: 830px) {
    #head_text {
        display: block;
    	float: left;
        margin-left: 8.4em;
    }
}

/********/
/* main */
/********/

@media only screen and (min-width: 830px) {
    #main_wrapper {
        margin: 0 auto;
        width: 800px;
        clear: both
    }
}



nav {
    display: block;
    float: center;

    text-align: center;
    text-transform: lowercase;
}

nav ul {
    list-style-type: none;
    padding-bottom: 3em;
}

nav li {
    margin-top: .5em;
    margin-bottom: .5em;
}

nav a {
    color: #000000;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 2em;

    text-decoration: none;

    letter-spacing: .2em;

    padding-left: .5em;
    padding-right: .3em;
    padding-top: .1em;
    padding-bottom: .2em;
}

nav a.active {
    color: #f0f0f0;
    background-color: #00ccff;
}

@media only screen and (min-width: 830px) {
    nav {
        float: left;
        width: 150px;
        text-align: right;
    }

    nav a {
        display: inline;

        padding-right: 0;

        font-weight: 400;
        font-size: 1.2em;
    }

    nav ul {
        padding-bottom: none;
    }

    nav li {
		margin-bottom: .5em;
    }
}


/***********/
/* content */
/***********/

#main_column {
    display: block;
    float: left;

    margin-left: 1em;
    margin-right: 1em;
    margin-top: .2em;

    font-family: "Merriweather", Times, "Times New Roman", serif;
    font-weight: 200;
    font-size: .9em;
}

#main_column a {
    text-decoration: none;
}

@media only screen and (min-width: 830px) {
    #main_column {
    	width: 550px;

        margin-left: 4em;

        font-size: .8em;
    }
}



#inhalt {
    line-height: 1.9;
}

#inhalt p + p {
	text-indent: 2em;
}

#inhalt h1 {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 3.5em;
    font-weight: 300;

    line-height: 1;

    margin-bottom: .8em;
}

#inhalt h2 {
    font-size: 1.2em;
    font-weight: 400;
}

#inhalt li {
	list-style-position: inside;
}

#inhalt .posts > li {
    list-style-type: none;
}

#inhalt .posts > li + li {
    margin-top: 2em;
}

#inhalt a, footer a {
    color: black;
	text-decoration: none;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #aaa;


}

@media only screen and (min-width: 830px) {
	margin-bottom: 3em;
}

footer {
    padding-bottom: 1em;
}

@media only screen and (min-width: 830px) {
    footer {
        padding-bottom: 5em;
    }
    footer li {
        float: left;
        list-style-type: none;
        padding-right: 1em;
    }
}
