/* selection colours */

::selection {
	background: #fb055f; /* Safari */
	color: #f0f0f0;
	}
::-moz-selection {
	background: #fb055f; /* Firefox */
	color: #f0f0f0;
}


/* global */

* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #f0f0f0;
}

body {
    margin-left: auto;
    margin-right: auto;
}

/* header */

#header {
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 1.4em;
    font-family: 'Merriweather', serif;
    font-weight: 300;

    text-transform: lowercase;
    margin-bottom: .8em;
    padding-top: .4em;
    padding-bottom: .4em;
}



/* wrapper */
@media only screen and (min-width: 650px) {
	#wrapper {
		width: 650px;
        margin-left: auto;
        margin-right:auto;
	}
}

/* navigation */

nav {
    vertical-align: middle;
    text-transform: lowercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
}



/* list */

nav ul {
    overflow: hidden;
    background-color: #f0f0f0;
}




/* list item */

nav li {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-left: 1.3em;
}

@media only screen and (min-width: 600px) {
    nav li {
        float: left;
        margin: 0;
    }
}

nav a {
    display: inline;

   	padding-top: .5em;
  	padding-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;

    text-align: center;
    color: #000000;
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
    nav a {
        display: block;

	    padding-top: .2em;
    	padding-bottom: .2em;
	    padding-right: .5em;
    	padding-left: .5em;

        margin-top: .5em;
        margin-left: 0;
	    margin-right: 0;
    }
}

nav a.active {
    color: white;
    background-color: #fb055f;
}

/* content */

.container {
    margin-top: 3em;
}

.container, footer {
    font-size: 90%;
    line-height: 1.8em;
    padding-top: 3em;
    padding-left: 2em;
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

.container p + p {
	text-indent: 2em;
}


/* headings */
.container h1 {
    font-size: 3.5em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;

    line-height: 1em;

    padding-bottom: 1em;
}

.container a, footer a {
	color: black;
	text-decoration: none;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #bbbbbb;
}

footer li {
    list-style-type: none;
    margin-bottom: 2em;
}

/* external links in paragraph in content div */
.container a[href^='http']:not([href^='http://jan.ink']):not([href^='https://jan.ink']):after {
	content: '►';
	margin-left: .3em;
	color: #bbbbbb;
}
