/* global */
* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #f0f0f0;
}

body {
    margin-left: auto;
    margin-right: auto;
}

/* navigation */

nav {
    vertical-align: middle;
}

nav ul {
    overflow: hidden;
    background-color: #000000;
}

@media only screen and (min-width: 830px) {
    nav ul {
        padding-left: 10em;
    }
}


nav li {
    display: inline;
    float: left;
    list-style-type: none;
    
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: 1em;
    padding-left: 1em;
    margin-right: 2em;
}

nav li:hover {
    background-color: #fb055f;
}

nav a {
    display: block;
    
    
    font-family: Times, "Times New Roman", serif;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

/* content */

.container {
    padding-top: 3em;
    padding-left: 1.5em;
}

/* footer */

footer {
    padding-top: 3em;
    padding-left: 1.5em;
}

@media only screen and (min-width: 830px) {
    .container, footer {
        padding-left: 10.8em;
    }
}

/* headings */
h1 {
    font-family: Helvetica, Arial, sans-serif;
    
    padding-bottom: 1em;
}
