<!DOCTYPE html>
    <html>
        <head>
            <meta name="format-detection" content="telephone=no">
            <meta name="viewport" content="initial-scale=1.0">

            <title>jan grosche: kurzgeschichten</title>

            <link rel="stylesheet" type="text/css" href="/creative-writing-german/css/main.css"> <!-- link to main stylesheet -->
            <link href="https://fonts.googleapis.com/css?family=Merriweather:300|Source+Sans+Pro:200,400" rel="stylesheet"> <!-- google fonts -->
        </head>

        <body>

<!-- kopfzeile -->
            <div id="head_bar">
                <div id="head_wrapper">
                    <div id="head_text">Jan Grosche: Kurzgeschichten</div> <!-- site title -->
                </div> <!-- #head_wrapper -->
            </div> <!-- #head_bar -->

<!-- wrapper -->
            <div id="main_wrapper">

<!-- navigation -->
                <nav>
                    <ul>
                        <li>
                            <a {% if page.url == "/" %}class="active"{% endif %} href="/creative-writing-german">Texte</a>
                        </li>

                        <li>
                            <a {% if page.url == "/kontakt.html" %}class="active"{% endif %} href="/creative-writing-german/kontakt">Kontakt</a>
                        </li>

                        <li>
                            <a href="https://github.com/janucember">Github</a>
                        </li>

                        <li>
                            <a href="https://twitter.com/jangrosche">Twitter</a>
                        </li>

                        <li><a href="https://jan.ink">Website</a></li>
                    </ul>
                </nav>


<!-- main column -->
                <div id="main_column">

<!-- inhalt -->
                    <div id="inhalt">
                        {{ content }}
                    </div>

<!-- fusszeile -->
                    <footer>
                        <ul>
                        </ul>
                    </footer>

                </div> <!-- #main_column -->

            </div> <!-- #main_wrapper -->
        </body>
    </html>
