<!DOCTYPE html>
    <html>
        <head>
            <meta name="format-detection" content="telephone=no">
            <meta name="viewport" content="initial-scale=1.0">

            <title>{{ page.title }}</title>

            <link rel="stylesheet" type="text/css" href="/creative-writing-german/css/main.css"> <!-- link to main stylesheet -->
            <link href="https://fonts.googleapis.com/css?family=Merriweather:300|Source+Sans+Pro:200,400" rel="stylesheet"> <!-- google fonts -->
        </head>

        <body>

<!-- kopfzeile -->
            <div id="head_wrapper">
                <div id="header">Jan Grosche</div> <!-- -->
            </div>

<!-- navigation -->
            <nav>
                <ul>
                    <li><a {% if page.url == "/" %}class="active"{% endif %} href="/creative-writing-german">Texte</a></li>

                    <li><a {% if page.url == "/kontakt.html" %}class="active"{% endif %} href="/creative-writing-german/kontakt">Kontakt</a></li>
                </ul>
            </nav>

<!-- wrapper -->
            <div id="main_wrapper">

<!-- inhalt -->
                <div id="container">
                    {{ content }}
                </div> <!-- #container -->

<!-- fusszeile -->
                <footer>
                    <ul>
                        <li><a href="https://github.com/janucember">github.com/janucember</a></li>

                        <li><a href="https://jan.ink">jan.ink</a></li>
                    </ul>
                </footer>

            </div> <!-- #wrapper -->
        </body>
    </html>
