<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/creative-writing-german/css/main.css">
    </head>
    <body>
      <div id="header">Jan Grosche</div>
      <div id="wrapper">
      <nav>
          <ul>
              <li><a {% if page.url == "/" %}class="active"{% endif %} href="/creative-writing-german">Intro</a></li>
              <li><a {% if page.url == "/kontakt.html" %}class="active"{% endif %} href="/creative-writing-german/kontakt">Kontakt</a></li>
          </ul>
      </nav>
          <div class="container">

          {{ content }}

          <p>p.url: {{ p.url }}</p>
          <p>url: {{ url }}</p>
          <p>link.url: {{ link.url }}</p>
          <p>page.url: {{ page.url }}</p>



          </div><!-- /.container -->
          <footer>
              <ul>
                  <li><a href="mailto:mail@jan.ink">email</a></li>
                  <li><a href="https://github.com/janucember">github.com/janucember</a></li>
            </ul>
          </footer>
        </div><!--#wrapper-->
    </body>
  </html>
